In [2]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv('dt_data1.csv')

In [4]:
data.head()

   A  B CLASS
0  1  0   pos
1  1  1   pos
2  1  1   pos
3  1  0   neg
4  1  1   pos

In [5]:
y=data['CLASS']

In [6]:
x=data.drop('CLASS',axis=1)

In [7]:
from sklearn.tree import DecisionTreeClassifier

In [8]:
dtree_mod=DecisionTreeClassifier()
dtree_mod.fit(x,y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [9]:
from sklearn.tree import export_graphviz
export_graphviz(dtree_mod,out_file='tree1.dot',feature_names=['A','B'])

In [10]:
data1=pd.read_csv('dt_data.csv')

In [11]:
data1.head()

     A    B    C    D     class
0  4.8  3.4  1.9  0.2  positive
1  5.0  3.0  1.6  1.2  positive
2  5.0  3.4  1.6  0.2  positive
3  5.2  3.5  1.5  0.2  positive
4  5.2  3.4  1.4  0.2  positive

In [12]:
y=data1['class']

In [13]:
x=data1.drop('class',axis=1)

In [14]:
dtree_mod=DecisionTreeClassifier()
dtree_mod.fit(x,y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [15]:
export_graphviz(dtree_mod,out_file='tree.dot',feature_names=['A','B','C','D'])

In [16]:
data=pd.read_csv('wns_train.csv')

In [17]:
data.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54808 entries, 0 to 54807
Data columns (total 14 columns):
employee_id             54808 non-null int64
department              54808 non-null object
region                  54808 non-null object
education               52399 non-null object
gender                  54808 non-null object
recruitment_channel     54808 non-null object
no_of_trainings         54808 non-null int64
age                     54808 non-null int64
previous_year_rating    50684 non-null float64
length_of_service       54808 non-null int64
KPIs_met >80%           54808 non-null int64
awards_won?             54808 non-null int64
avg_training_score      54808 non-null int64
is_promoted             54808 non-null int64
dtypes: float64(1), int64(8), object(5)
memory usage: 5.9+ MB

In [19]:
data['education'].unique()

array(["Master's & above", "Bachelor's", nan, 'Below Secondary'],
      dtype=object)

In [20]:
data

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0
5,58896,Analytics,region_2,Bachelor's,m,sourcing,2,31,3.0,7,0,0,85,0
6,20379,Operations,region_20,Bachelor's,f,other,1,31,3.0,5,0,0,59,0
7,16290,Operations,region_34,Master's & above,m,sourcing,1,33,3.0,6,0,0,63,0
8,73202,Analytics,region_20,Bachelor's,m,other,1,28,4.0,5,0,0,83,0
9,28911,Sales & Marketing,region_1,Master's & above,m,sourcing,1,32,5.0,5,1,0,54,0
10,29934,Technology,region_23,NaN,m,sourcing,1,30,NaN,1,0,0,77,0
11,49017,Sales & Marketing,region_7,Bachelor's,f,sourcing,1,35,5.0,3,1,0,50,1
12,60051,Sales & Marketing,region_4,Bachelor's,m,sourcing,1,49,5.0,5,1,0,49,0
13,38401,Technology,region_29,Master's & above,m,other,2,39,3.0,16,0,0,80,0
14,77040,R&D,region_2,Master's & above,m,sourcing,1,37,3.0,7,0,0,84,0
15,43931,Operations,region_7,Bachelor's,m,other,1,37,1.0,10,0,0,60,0
16,7152,Technology,region_2,Bachelor's,m,other,1,38,3.0,5,1,0,77,0
17,9403,Sales & Marketing,region_31,Bachelor's,m,other,1,34,1.0,4,0,0,51,0
18,17436,Sales & Marketing,region_31,Bachelor's,m,other,1,34,5.0,8,1,0,46,0
19,54461,Operations,region_15,Bachelor's,m,other,1,37,3.0,9,0,0,59,0
20,12067,Procurement,region_14,Bachelor's,m,other,1,35,3.0,7,0,0,75,0
21,33332,Operations,region_15,NaN,m,sourcing,1,41,4.0,11,0,0,57,0
22,58789,Finance,region_11,Bachelor's,f,other,1,28,3.0,4,0,0,63,0
23,71177,Procurement,region_5,Bachelor's,m,other,1,27,NaN,1,0,0,70,0
24,52057,Finance,region_22,Master's & above,m,sourcing,2,39,5.0,7,0,0,59,0
25,26585,Technology,region_22,Bachelor's,m,other,1,27,5.0,3,1,0,83,0
26,37749,Procurement,region_26,Bachelor's,m,other,1,31,5.0,4,1,0,68,0
27,2370,Technology,region_26,Bachelor's,m,other,1,33,4.0,4,0,0,79,0
28,8219,Analytics,region_5,Bachelor's,m,other,1,29,5.0,3,1,0,80,0
29,74759,Sales & Marketing,region_4,Bachelor's,m,sourcing,1,26,NaN,1,0,0,44,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54778,30691,Procurement,region_2,Bachelor's,f,sourcing,1,30,3.0,3,0,0,70,0
54779,49923,Technology,region_30,Bachelor's,f,sourcing,1,34,3.0,3,0,0,86,0
54780,73767,Operations,region_19,Bachelor's,f,sourcing,1,39,5.0,7,0,0,60,0
54781,76497,HR,region_27,Bachelor's,f,sourcing,1,38,5.0,3,1,0,50,0
54782,17281,Operations,region_2,Below Secondary,m,sourcing,2,26,3.0,2,0,0,60,0
54783,45504,Procurement,region_2,Below Secondary,m,other,3,23,3.0,2,0,0,71,0
54784,68370,Sales & Marketing,region_30,Bachelor's,m,other,1,39,5.0,9,0,0,48,0
54785,42055,Technology,region_26,Bachelor's,m,other,1,33,4.0,7,1,0,77,0
54786,32291,Sales & Marketing,region_31,Bachelor's,f,sourcing,2,31,1.0,4,0,0,51,0
54787,77455,Technology,region_27,Bachelor's,m,sourcing,4,26,3.0,3,0,0,84,0
54788,75164,Sales & Marketing,region_13,Bachelor's,f,sourcing,2,28,3.0,3,0,0,48,0
54789,75942,Sales & Marketing,region_7,Master's & above,m,other,3,31,3.0,9,0,0,50,0
54790,67988,HR,region_2,Bachelor's,f,sourcing,1,48,5.0,4,0,0,49,0
54791,27274,Technology,region_11,Bachelor's,m,sourcing,1,32,1.0,3,1,0,82,0
54792,994,Sales & Marketing,region_14,Bachelor's,m,other,1,59,3.0,11,0,0,65,1
54793,28400,Technology,region_2,Bachelor's,m,other,1,33,1.0,9,0,0,79,0
54794,35000,Operations,region_16,Bachelor's,m,other,1,37,4.0,7,1,0,54,0
54795,13477,Procurement,region_15,Master's & above,m,other,1,35,3.0,7,0,0,70,0
54796,12592,Sales & Marketing,region_25,Master's & above,m,other,1,34,3.0,7,0,0,60,1
54797,62450,Sales & Marketing,region_11,Bachelor's,m,sourcing,1,28,5.0,3,1,1,47,0
54798,40257,Sales & Marketing,region_2,Master's & above,f,other,2,40,5.0,4,1,0,51,0
54799,68093,Procurement,region_2,Master's & above,f,other,1,50,5.0,6,1,1,67,0
54800,39227,HR,region_11,Bachelor's,m,other,2,34,5.0,3,0,0,52,0
54801,12431,Technology,region_26,Bachelor's,f,sourcing,1,31,NaN,1,0,0,78,0
54802,6915,Sales & Marketing,region_14,Bachelor's,m,other,2,31,1.0,2,0,0,49,0
54803,3030,Technology,region_14,Bachelor's,m,sourcing,1,48,3.0,17,0,0,78,0
54804,74592,Operations,region_27,Master's & above,f,other,1,37,2.0,6,0,0,56,0
54805,13918,Analytics,region_1,Bachelor's,m,other,1,27,5.0,3,1,0,79,0
54806,13614,Sales & Marketing,region_9,NaN,m,sourcing,1,29,1.0,2,0,0,45,0
54807,51526,HR,region_22,Bachelor's,m,other,1,27,1.0,5,0,0,49,0

In [21]:
data['previous_year_rating']=data['previous_year_rating'].fillna(3)

In [22]:
data['education']=data['education'].fillna("Bachelor's")

In [23]:
data['education'].unique()

array(["Master's & above", "Bachelor's", 'Below Secondary'], dtype=object)

In [24]:
data['education'].describe()

count          54808
unique             3
top       Bachelor's
freq           39078
Name: education, dtype: object

In [25]:
out=data['is_promoted']

In [26]:
inp=data.drop(['is_promoted','employee_id'],axis=1)

In [27]:
data_dum=pd.get_dummies(inp,drop_first=True)

In [28]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(data_dum,out,test_size=0.3,random_state=48)

In [29]:
from sklearn.linear_model import LogisticRegression

In [30]:
log_model=LogisticRegression()

In [31]:
log_model.fit(xtrain,ytrain)

C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [32]:
ypred=log_model.predict(xtest)

In [33]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [34]:
acc=accuracy_score(ytest,ypred)
acc

0.9287842851061242

In [35]:
con=confusion_matrix(ytest,ypred)
con

array([[14983,    47],
       [ 1124,   289]], dtype=int64)

In [36]:
cr=classification_report(ytest,ypred)
print(cr)

              precision    recall  f1-score   support

           0       0.93      1.00      0.96     15030
           1       0.86      0.20      0.33      1413

   micro avg       0.93      0.93      0.93     16443
   macro avg       0.90      0.60      0.65     16443
weighted avg       0.92      0.93      0.91     16443

In [37]:
from sklearn.tree import DecisionTreeClassifier

In [71]:
dtree_mod1=DecisionTreeClassifier()
dtree_mod1.fit(xtrain,ytrain)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [41]:
ypred=dtree_mod1.predict(xtest)

In [42]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [43]:
acc1=accuracy_score(ytest,ypred)
acc1

0.8961260110685398

In [44]:
cr1=classification_report(ytest,ypred)
print(cr1)

              precision    recall  f1-score   support

           0       0.95      0.94      0.94     15030
           1       0.41      0.45      0.43      1413

   micro avg       0.90      0.90      0.90     16443
   macro avg       0.68      0.69      0.69     16443
weighted avg       0.90      0.90      0.90     16443

In [45]:
datatest=pd.read_csv('wns_test.csv')

In [46]:
datatest.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score
0,8724,Technology,region_26,Bachelor's,m,sourcing,1,24,NaN,1,1,0,77
1,74430,HR,region_4,Bachelor's,f,other,1,31,3.0,5,0,0,51
2,72255,Sales & Marketing,region_13,Bachelor's,m,other,1,31,1.0,4,0,0,47
3,38562,Procurement,region_2,Bachelor's,f,other,3,31,2.0,9,0,0,65
4,64486,Finance,region_29,Bachelor's,m,sourcing,1,30,4.0,7,0,0,61

In [47]:
datatest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23490 entries, 0 to 23489
Data columns (total 13 columns):
employee_id             23490 non-null int64
department              23490 non-null object
region                  23490 non-null object
education               22456 non-null object
gender                  23490 non-null object
recruitment_channel     23490 non-null object
no_of_trainings         23490 non-null int64
age                     23490 non-null int64
previous_year_rating    21678 non-null float64
length_of_service       23490 non-null int64
KPIs_met >80%           23490 non-null int64
awards_won?             23490 non-null int64
avg_training_score      23490 non-null int64
dtypes: float64(1), int64(7), object(5)
memory usage: 2.3+ MB

In [48]:
datatest['previous_year_rating']=datatest['previous_year_rating'].fillna(3.3)

In [49]:
datatest['education']=datatest["education"].fillna("Bachelor's")

In [50]:
inp2=datatest['employee_id']

In [51]:
inp1=datatest.drop('employee_id',1)

In [52]:
inp_dum=pd.get_dummies(inp1,drop_first=True)

In [53]:
inp_dum.head()

,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,department_Finance,department_HR,department_Legal,...,region_region_5,region_region_6,region_region_7,region_region_8,region_region_9,education_Below Secondary,education_Master's & above,gender_m,recruitment_channel_referred,recruitment_channel_sourcing
0,1,24,3.3,1,1,0,77,0,0,0,...,0,0,0,0,0,0,0,1,0,1
1,1,31,3.0,5,0,0,51,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,1,31,1.0,4,0,0,47,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,3,31,2.0,9,0,0,65,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,30,4.0,7,0,0,61,1,0,0,...,0,0,0,0,0,0,0,1,0,1

In [55]:
ypred2=dtree_mod1.predict(inp_dum)

In [ ]:
em=pd.DataFrame()

In [ ]:
em['employee_id']=inp2
em['is_promoted']=ypred2

In [ ]:
em=em.set_index('employee_id')

In [ ]:
em.to_csv('output.csv')

In [79]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV

In [84]:
params=[{'criterion':['gini','entropy'],'max_depth':[5,10,15,20,25,30],'min_samples_split':[20,40,60,80],'min_samples_leaf':[10,20,30,50]}]

In [85]:
tune_model=GridSearchCV(dtree_mod1,params,scoring='accuracy',cv=5)

In [86]:
tune_model.fit(xtrain,ytrain)

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid=[{'criterion': ['gini', 'entropy'], 'max_depth': [5, 10, 15, 20, 25, 30], 'min_samples_split': [20, 40, 60, 80], 'min_samples_leaf': [10, 20, 30, 50]}],
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='accuracy', verbose=0)

In [87]:
tune_model.best_params_

{'criterion': 'entropy',
 'max_depth': 15,
 'min_samples_leaf': 10,
 'min_samples_split': 80}

In [88]:
tune_model.best_score_

0.9384595334289065

# Random forest

In [89]:
from sklearn.ensemble import RandomForestClassifier

In [90]:
rdf_mod=RandomForestClassifier()

In [91]:
rdf_mod.fit(xtrain,ytrain)

C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [95]:
ypred=rdf_mod.predict(xtest)

In [98]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [100]:
accur=accuracy_score(ytest,ypred)
accur

0.9288451012588944

In [104]:
classifi_report=classification_report(ytest,ypred)
print(classifi_report)

              precision    recall  f1-score   support

           0       0.93      0.99      0.96     15030
           1       0.76      0.25      0.38      1413

   micro avg       0.93      0.93      0.93     16443
   macro avg       0.85      0.62      0.67     16443
weighted avg       0.92      0.93      0.91     16443

In [108]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

In [124]:
folds=KFold(n_splits=5,shuffle=True,random_state=48)
hyper_params=[{"criterion": ['gini', 'entropy']}]

In [125]:
mod=GridSearchCV(rdf_mod,param_grid=hyper_params,scoring="f1",cv=folds)

In [126]:
mod.fit(xtrain,ytrain)

GridSearchCV(cv=KFold(n_splits=5, random_state=48, shuffle=True),
       error_score='raise-deprecating',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid=[{'criterion': ['gini', 'entropy']}],
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='f1', verbose=0)

In [127]:
mod.best_params_

{'criterion': 'entropy'}

In [128]:
mod1= RandomForestClassifier(criterion = 'entropy')

In [129]:
hyper_params=[{"max_depth": [10,20,30,40,50]}]
mod2=GridSearchCV(mod1,param_grid=hyper_params,scoring="f1",cv=folds)
mod2.fit(xtrain,ytrain)

C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

GridSearchCV(cv=KFold(n_splits=5, random_state=48, shuffle=True),
       error_score='raise-deprecating',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators='warn', n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid=[{'max_depth': [10, 20, 30, 40, 50]}],
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='f1', verbose=0)

In [131]:
mod2.best_params_

{'max_depth': 30}

In [162]:
mod3 = RandomForestClassifier(criterion='entropy',max_depth=30)
hyper_params=[{'max_features':['auto','sqrt','log2']}]
mod4=GridSearchCV(mod3,param_grid=hyper_params,scoring="f1",cv=folds)
pred=mod4.fit(xtrain,ytrain)

C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Bezza Pavan Kumar\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [159]:
mod4.best_params_

{'max_features': 'auto'}

In [182]:
n=pred.predict_proba(xtest)
n

array([[0.37380952, 0.62619048],
       [1.        , 0.        ],
       [1.        , 0.        ],
       ...,
       [1.        , 0.        ],
       [0.98571429, 0.01428571],
       [1.        , 0.        ]])

In [183]:
pred.predict(xtest)

array([1, 0, 0, ..., 0, 0, 0], dtype=int64)

In [184]:
n

array([[0.37380952, 0.62619048],
       [1.        , 0.        ],
       [1.        , 0.        ],
       ...,
       [1.        , 0.        ],
       [0.98571429, 0.01428571],
       [1.        , 0.        ]])

In [ ]:
out=np.zeros([len(n),1])
out[n[:,1]>0.3]=1

# Boosting